<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <a class="navbar-brand " href="/cadastro" style="margin-left: 15px;">
    Cadastrar Consulta
  </a>
  <a class="navbar-brand" href="/listappointments">
    Listar Agendamentos
  </a>
  <a class="navbar-brand" href="/">
    Inicio
  </a>
</nav>